body{
    margin: 0px
}

#conteudo{
    display: flex;
}

#nav{
    width: 200px;
    height: 90vh;

    /* position: fixed; */

    border-right: 2px solid lightgray;

    display: flex;
    flex-direction: column;

    gap: 2rem;
    background-color: #f6affc;

    padding-left: 50px;
    padding-top: 50px;
}

#main{
    width: 100vw;
    height: 90vh;

    background-color: rgb(205,125, 229);

    padding: 25px;
    /* margin: 10%; */
    justify-content: center;

    form fieldset{
        /* margin: 2px; */
        padding: 5px;
        width: 50vw;

        /* background-color: aqua; */

        display: flex;
        flex-direction: column;
        justify-items: center;

        display: inline-block;

        background-color: #f2d2f5;
        margin-top: 5%;

        legend{
            color: blueviolet;
            font-size: 20px;
        
            background-color: black;
        }

        
    }

    form button{
        /* margin: 20px; */
        width: 80px;
        display: inline;

        background-color: #efcef1;
        margin-top: 2%;
    }

    
}