body{
    margin: 0px
}


#conteudo{
    display: flex;
}


.sidebar{
   
    width: 210px;
    height: 100vh;
    position: fixed;
    border-right:1px solid lightgray;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 2rem; /*cada item terá uma certa lacuna*/
    background-color: #f6affc;
   
    padding-left: 50px;
    padding-top: 50px;
}


.sidebar .link{
    /*display: flex;*/
    align-items: center;
    padding: 1rem 0;
    color: #000;
    font-size: 0.8rem;
    margin-right: 10px;


    li{
        padding: 1rem 0;
        list-style: none;


        .a{
            display: flex;
            align-items: center;
        }
       
    }
}


#main{
    width: 110vw;
    height: 100vh;


    background: linear-gradient(#fa23de, #f6168a);
    /* background-color: rgb(205,125, 229); */


    padding: 25px;
    /* margin: 10%; */
    justify-content: center;


    /* display: inline-block;; */

    #hanna{
        margin-left: 250px;
    }
   


    img{
        height: 200px;
        width: 200px;
   
        border-radius: 50%;
    }

    .descricao{
        p{
            margin-left: 20%;
            text-align: justify;
        }
    }
   
   
    .pessoa{
        display: inline-block;
        width: 30%;
        text-align: center;
        align-items: center;


        p{
            width: 60%;
            height: 50%;
            /* text-align: justify; */
           text-align: center;
           margin-left: 20%;
            /* margin-left: 30%; */
        }


        figure{
            size: 15%;
        }
    }
   
    h1{
        text-align: center;
    }


    #descricao p{
        font-size: 15px;
    }
}


