body{
    margin: 0px
}


/* #conteudo{
    display: flex;
} */


.sidebar{
   
    width: 210px;
    height: 100vh;
    position: fixed;
    border-right:1px solid lightgray;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 2rem; /*cada item terá uma certa lacuna*/
    background-color: #f6affc;
   
    padding-left: 50px;
    padding-top: 50px;
}


.sidebar .link{
    /*display: flex;*/
    align-items: center;
    padding: 1rem 0;
    color: #000;
    font-size: 0.8rem;
    margin-right: 10px;


    li{
        padding: 1rem 0;
        list-style: none;


        .a{
            display: flex;
            align-items: center;
        }
       
    }
}


#main{
    width: 100vw;
    height: 90vh;


    background-color: rgb(205,125, 229);


    padding: 25px;
    /* margin: 10%; */
    justify-content: center;


    display: inline-block;;


   


    img{
        height: 200px;
        width: 200px;
   
        border-radius: 50%;
    }


   
   
    .pessoa{
        display: inline-block;
        width: 49%;
        text-align: center;
        align-items: center;


        p{
            width: 60%;
            height: 50%;
            text-align: justify;
           
            margin-left: 30%;
        }


        figure{
            size: 15%;
        }
    }
   
    h1{
        text-align: center;
    }


    #descricao p{
        font-size: 15px;
    }
}


